<header th:fragment="HeaderFragment" class="toolbar-top">

    <input type="hidden" th:value="${user.id}" id="userId">

    <div class="logo">
    </div>

    <div class="home">
        <a href="/"></a>
    </div>

    <nav>
        <!-- 로그인 한 경우 -->
        <a href="/mypage" th:if="${user != null}" th:text="${user.nickname != null ? user.nickname + '님' : user.name + '님'}"></a>
        <a th:if="${user != null}" class="btn btn-light" href="/logout" aria-label="로그아웃">로그아웃</a>

    </nav>
</header>
