<!-- Responsive navbar-->
<nav th:fragment="NavFragment"
     class="navbar navbar-expand-lg navbar-dark" style="background-color: rgba(237, 125, 49, 1) !important;">
    <div class="container">
        <a class="navbar-brand" href="#">TableQ</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a id="nav-mypage" class="nav-link active" href="#">마이페이지</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" aria-current="page" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        상세페이지
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <!-- 사업자정보 테이블의 점주 id의 개수에 따라 li를 만든다 -->
                        <!-- 또한 점포 테이블의 사업자번호를 통해 가게명을 불러온다 -->
                        <li><a class="dropdown-item" href="#">-</a></li>
                        <li><a class="dropdown-item" href="#">-</a></li>
                        <li><a class="dropdown-item" href="#">-</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>