<footer th:fragment="NavbarFragment">
    <nav class="toolbar">
        <a href="/" class="toolbar-item">
            <i data-lucide="home"></i>
            <span>홈</span>
        </a>
        <a href="#searchInput" class="toolbar-item">
            <i data-lucide="search"></i>
            <span>검색</span>
        </a>
        <a href="/favorites" class="toolbar-item">
            <i data-lucide="heart"></i>
            <span>관심매장</span>
        </a>
        <a href="/mypage" class="toolbar-item">
            <i data-lucide="user"></i>
            <span>내정보</span>
        </a>
    </nav>
</footer>