.particular {
    background-color: #FAFAFA;
    border: 1px solid #E5E5E5;
    border-radius: 20px;
    padding: 15px 30px;
    margin-top: 30px;
}

.particular table {
    width: 100%; /* 테이블을 div 너비에 맞춤 */
    border-collapse: separate;
    border-spacing: 0px 15px;
}

h1, h2, h3 {
    font-weight: 700;
}

.left-align {
    text-align: left;
    color: #777777;
}

.right-align {
    text-align: right;
}

.count {
    border: 2px solid #E5E5E5;
    border-radius: 50px;
    padding: 10px;
    font-size: 170%;
}

.people {
    margin: 30px 60px;
    font-weight: 700;
}

.people label {
    font-size: 130%;
}

.btn-orange {
    background-color: rgba(237, 125, 49, 1); /* 버튼 배경색 */
    border: none; /* 테두리 없음 */
    border-radius: 15px; /* 모서리 둥글게 */
    color: white; /* 텍스트 색상 흰색 */
    font-size: 25px; /* 폰트 크기 */
    font-weight: bold; /* 텍스트 두께 */
    cursor: pointer; /* 마우스 커서 스타일 */
    transition: box-shadow 0.1s ease; /* box-shadow 변화에 부드러운 전환 효과 */
    width: 90%; /* 상위 요소 기준 폭 */
    height: 90%; /* 상위 요소 기준 높이 */
    padding: 15px;
    margin-top: 60px;
}

.btn-orange:active {
    box-shadow: 0 0 0 5px rgba(237, 125, 49, 0.5); /* 클릭 시 그림자 효과 */
}