:root {
  --header-height: 60px; /* 기본 헤더 높이 설정 */
}

/* 공통 스타일 (모바일 우선) */
body, html {
  margin: 0;
}

.container {
  width: 100%;
  padding: 0;
  margin: 0;

}

/* Header */
header {
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
}

header .logo {
  margin: auto 10px;
  height: 30px;
  width: 131px;
}

header .logo a {
  background: center / contain no-repeat url("/img/logo.png");
  height: 30px;
  display:flex;
  align-items: center;
  text-indent: -9999px; /* 대체 텍스트 */
  text-decoration: none;
}

header .btn-success {
  margin: auto 10px;
  font-family: Arial, sans-serif; /* 버튼에 대한 특정 폰트 지정 */
  font-weight: normal; /* 기본 폰트 두께 설정 */
}

main {
  width: 100%;
  margin-top: var(--header-height);
  font-family: SBAggro; /* main 태그에만 적용 */
  font-weight: 500; /* main 태그에만 적용 */
}

/* 섹션 스타일 */
section {
  width: 100%;
  height: 800px; /* 모바일 화면에 맞춘 높이 */
  background: url('/img/table-q-character.png') no-repeat bottom,
              linear-gradient(to bottom, rgba(237, 125, 49, 0.8) 0%, rgba(255, 255, 255, 0) 80%);
  background-size: cover;
  color: white; /* 텍스트 색상 */
  padding: 15px;
  display: flex;
  align-items: start;
  justify-content: center;
  text-align: center;
  font-size: 1.4em; /* 모바일 폰트 크기 */
  line-height: 1.3; /* 줄 간격 조정 */
}

/* Footer 스타일 */
footer {
  font-family: sans-serif; /* footer에 기본 폰트 설정 */
  font-weight: normal; /* footer의 기본 폰트 두께 설정 */
}

/* Footer */
footer .inner {
  padding: 10px 0;
  border-top: 1px solid #eee;
}

footer .site-links {
  display: flex;
  justify-content: center;
}

footer .site-links li {
  font-size: 12px;
  margin-right: 10px;
  color: #767676;
}

footer .site-links li:last-child {
  margin-right: 0;
}

footer .site-links li a {
  color: #4078c0;
}

footer .site-links li a:hover {
  text-decoration: underline;
}

footer .logo {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

footer .logo:hover svg {
  fill: #4078c0;
}

/* 반응형 스타일 */
@media (min-width: 481px) {
  :root {
    --header-height: 80px; /* 태블릿 이상에서의 헤더 높이 */
  }
  section {
    width: 100%;
    height: 1200px; /* 태블릿 화면에 맞춘 높이 */
    font-size: 2em; /* 태블릿 폰트 크기 */
  }
}

@media (min-width: 769px) {
  :root {
      --header-height: 80px; /* 태블릿 이상에서의 헤더 높이 */
    }
    section {
      width: 100%;
      height: 700px; /* 태블릿 화면에 맞춘 높이 */
      font-size: 2em; /* 태블릿 폰트 크기 */
      background: url('/img/table-q-character.png') no-repeat right bottom,
                    linear-gradient(to bottom, rgba(237, 125, 49, 0.8) 50%, rgba(255, 255, 255, 0) 100%);
      background-position: 65% 50%;
      background-size: contain;
      padding: 15px 60% 15px 15px;
      display: flex;
      align-items: center;
      justify-content: end;
      text-align: center;
    }
}