<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>로그인 - TableQ</title>
        <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/favicon-io/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-io/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-io/favicon-16x16.png">

        <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/ungveloper/web-fonts/SBAggro/font-face.css" />
        <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/ungveloper/web-fonts/SBAggro/font-family.css" />

        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <link rel="stylesheet" href="css/reset.css" />
        <link rel="stylesheet" href="css/login.css" />
    </head>
    <body>
        <div class="container gradient-custom col-xs-12">
            <div class="logo">
                <a href="/"></a>
            </div>

            <div class="panel panel-default col-xs-10 col-sm-10 col-md-8 col-lg-8">
                <div class="panel-body">
                    <h2 class="text1-orange">SIGN UP</h2>
                    <p class="text2-orange mt-2 mb-5">서비스 사용을 위한 로그인</p>
                    <div class="mb-4">
                        <button type="button">
                            <img src="/img/signin-assets/kakao/en/kakao_login_large_narrow.png" alt="카카오" onclick="">
                        </button>
                    </div>
                    <div class="mb-4">
                        <button type="button">
                            <img src="/img/signin-assets/google/Web%20(mobile%20+%20desktop)/png@4x/neutral/web_neutral_sq_SI@4x.png" alt="구글" onclick="">
                        </button>
                    </div>
                    <div class="mb-4">
                        <a class="email-login" href="login">이메일 로그인</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
