<main layout:decorate="~{common/layouts/mainLayout}"
      layout:fragment="Content">
    <div class="child">
        <div class="row">
            <div class="input-form col-md-12 mx-auto">
                <h4 class="mb-4 text-orange text-center" style="font-weight:bold">회원정보 수정</h4>
                <form class="validation-form" id="signupForm" novalidate> <!--method="put" th:action="@{/api/user/{id}(id=${user.id})}"-->

                    <div class="mb-2">
                        <h5>SNS 연동</h5>
                        <div class="d-flex justify-content-center">
                            <button class="btn btn-kakao" id="kakaoLogin" style="margin-right: 10px;">
                                <img src="/img/signin-assets/kakao/en/kakao_login_large_narrow.png" alt="카카오 로그인" style="width: 160px; margin-right: 8px;">
                            </button>
                            <button class="btn btn-google" id="googleLogin">
                                <img src="/img/signin-assets/google/Web%20(mobile%20+%20desktop)/png@4x/neutral/web_neutral_sq_SI@4x.png" alt="구글 로그인" style="width: 160px; margin-right: 8px;">
                            </button>
                        </div>
                    </div>

                    <div id="id" style="display: none;" th:text="${user.id}"></div>

                    <div class="mb-2">
                        <label for="nickname">닉네임</label>
                        <input type="text" class="form-control" id="nickname" name="nickname"
                               placeholder="" required th:value="${user.nickname}">
                        <div class="invalid-feedback">
                            닉네임을 입력해주세요.
                        </div>
                    </div>

                    <div class="mb-2">
                        <label for="name">이름</label>
                        <input type="text" class="form-control" id="name" name="name"
                               placeholder="" required readonly th:value="${user.name}">
                        <div class="invalid-feedback">
                            이름을 입력해주세요.
                        </div>
                    </div>

                    <div class="mb-2">
                        <label for="address">주소</label>
                        <div class="certification">
                            <input type="text" class="form-control" id="address" name="address"
                                   placeholder="주소를 입력해주세요." required th:value="${user.address}">
                        </div>
                        <div class="invalid-feedback">
                            주소를 입력해주세요.
                        </div>
                    </div>

                    <div class="mb-2">
                        <label for="email">이메일</label>
                        <div class="certification">
                            <input type="email" class="form-control" id="email" name="email"
                                   placeholder="you@example.com" required readonly th:value="${user.email}">
                            <button type="button">변경</button>
                        </div>
                        <div class="invalid-feedback">
                            이메일을 입력해주세요.
                        </div>
                    </div>

                    <div class="mb-2">
                        <label for="phone">전화번호</label>
                        <div class="certification">
                            <input type="number" class="form-control" id="phone" name="phoneNumber"
                                   placeholder="숫자만 입력해주세요." readonly required th:value="${user.phoneNumber}">
                            <button type="button">변경</button>
                        </div>
                        <div class="invalid-feedback">
                            전화번호를 입력해주세요.
                        </div>
                    </div>

                    <!-- 비밀번호 변경 필드 -->
                    <div class="mb-2">
                        <label for="pass1">비밀번호</label>
                        <input type="password" class="form-control" id="pass1" name="password"
                               placeholder="새 비밀번호를 입력해주세요." required>
                        <div class="invalid-feedback">
                            비밀번호를 입력해주세요.
                        </div>
                    </div>

                    <div class="mb-2">
                        <label for="passwordConfirm">비밀번호 확인</label>
                        <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm"
                               placeholder="비밀번호를 다시 입력해주세요." required>
                        <div class="invalid-feedback">
                            비밀번호가 일치하지 않습니다.
                        </div>
                    </div>

                    <div class="mb-4 row justify-content-center">
                      <div class="col-auto">
                        <button class="btn btn-orange btn-lg text-light" type="submit" form="signupForm" style="width: 200px;">수정</button>
                      </div>
                    </div>
                </form>
            </div>
        </div>
        <footer class="my-3 text-center text-small">
            <p class="mb-1">© 2024 Table Q.</p>
        </footer>
    </div>
</main>

<script defer src="/js/mypage.js"></script>
