<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>입점 문의 - TableQ</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<style>
    body {
      min-height: 100vh;
      background: linear-gradient(to right, rgba(237, 125, 49, 1), rgba(237, 125, 49, 0.3))
    }

    .input-form {
      max-width: 680px;

      margin-top: 80px;
      padding: 32px;

      background: #fff;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
      box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
    }

    .btn-orange {
        background-color: rgba(237, 125, 49, 1) !important;
        border-color: rgba(237, 125, 49, 1) !important;
    }

    .text-orange {
        color: rgba(237, 125, 49, 1) !important;
    }

    .child {
      /* 상하좌우 정렬하기 */
      transform: translate(0%, 20%);
    }

    input:focus, textarea:focus, .btn-orange:focus {
      border-color: rgba(237, 125, 49, 0.8) !important; /* 원하는 테두리 색상 */
      box-shadow: 0 0 0 3px rgba(237, 125, 49, 0.5) !important; /* 포커스 시 테두리 강조 효과 (옵션) */
    }
</style>
<body>
<!-- 모달 -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">테이블링 입점 문의</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p style="color: rgba(237, 125, 49, 0.7); font-size:14px;">매장 정보와 문의사항을 남겨주세요.<br>영업일 기준 평균 2일 내에 연락드려요.</p>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="wait-tap" data-bs-toggle="tab" data-bs-target="#wait" type="button" role="tab" aria-controls="wait" aria-selected="true">대기</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="order-tab" data-bs-toggle="tab" data-bs-target="#order" type="button" role="tab" aria-controls="order" aria-selected="false">테이블오더</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="wait" role="tabpanel" aria-labelledby="wait-tap">
                        <div class="mb-3"></div>
                        <div class="mb-3">
                            <label for="wait_mutual">상호명</label>
                            <input type="text" class="form-control" id="wait_mutual" required>
                        </div>

                        <div class="mb-3">
                            <label for="wait_industry">업종</label>
                            <input type="text" class="form-control" id="wait_industry" required>
                        </div>

                        <div class="mb-3">
                            <label for="wait_region">지역(시/도)</label>
                            <input type="text" class="form-control" id="wait_region" required>
                        </div>

                        <div class="mb-3">
                            <label for="wait_address">상세주소(전체주소)</label>
                            <input type="text" class="form-control" id="wait_address" required>
                        </div>

                        <div class="mb-3">
                            <label for="wait_name">성함</label>
                            <input type="text" class="form-control" id="wait_name" required>
                        </div>

                        <div class="mb-3">
                            <label for="wait_phone">연락처(숫자만 입력해주세요.)</label>
                            <input type="text" class="form-control" id="wait_phone" required>
                        </div>

                        <div class="mb-3">
                            <label for="wait_email">이메일</label>
                            <input type="email" class="form-control" id="wait_email" placeholder="you@example.com" required>
                        </div>

                        <div class="mb-3">
                            <label for="wait_weekdays">평균 대기팀 수(평일)</label>
                            <input type="number" class="form-control" id="wait_weekdays" required>
                        </div>

                        <div class="mb-3">
                            <label for="wait_weekend">평균 대기팀 수(주말)</label>
                            <input type="number" class="form-control" id="wait_weekend" required>
                        </div>

                        <div class="mb-3">
                            <label for="wait_force">사용중인 포스 프로그램명</label>
                            <select class="form-select" id="wait_force">
                                <option value="" selected>(선택)</option>
                                <option value="Kis정보통신 OKPOS">Kis정보통신 OKPOS</option>
                                <option value="Nice정보통신 OKPOS">Nice정보통신 OKPOS</option>
                                <option value="OKPOS">OKPOS</option>
                                <option value="Easypos">Easypos</option>
                                <option value="Fiserv">Fiserv</option>
                                <option value="First data">First data</option>
                                <option value="Korea payment networks">Korea payment networks</option>
                                <option value="POPs">POPs</option>
                                <option value="UNION">UNION</option>
                                <option value="기타">기타</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="wait_inquiry">문의사항</label>
                            <textarea class="form-control" rows="3" id="wait_inquiry" required></textarea>
                        </div>

                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="wait_agreement" required>
                            <label class="custom-control-label" for="wait_agreement">&nbsp;[필수] 개인정보 수집 및 이용에 동의합니다.</label>
                            <button style="border: none; background: none; outline:none;"><small style="color: #0099FF; text-decoration: underline;">상세보기</small></button>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="order" role="tabpanel" aria-labelledby="order-tab">
                        <div class="mb-3"></div>
                        <div class="mb-3">
                            <label for="order_mutual">상호명</label>
                            <input type="text" class="form-control" id="order_mutual" required>
                        </div>

                        <div class="mb-3">
                            <label for="order_industry">업종</label>
                            <input type="text" class="form-control" id="order_industry" required>
                        </div>

                        <div class="mb-3">
                            <label for="order_region">지역(시/도)</label>
                            <input type="text" class="form-control" id="order_region" required>
                        </div>

                        <div class="mb-3">
                            <label for="order_address">상세주소(전체주소)</label>
                            <input type="text" class="form-control" id="order_address" required>
                        </div>

                        <div class="mb-3">
                            <label for="order_table">총 테이블 수</label>
                            <input type="number" class="form-control" id="order_table" required>
                        </div>

                        <div class="mb-3">
                            <label for="order_force">사용중인 포스 프로그램명</label>
                            <input type="text" class="form-control" id="order_force" required>
                        </div>

                        <div class="mb-3">
                            <label for="order_name">성함</label>
                            <input type="text" class="form-control" id="order_name" required>
                        </div>

                        <div class="mb-3">
                            <label for="order_phone">연락처(숫자만 입력해주세요.)</label>
                            <input type="text" class="form-control" id="order_phone" required>
                        </div>

                        <div class="mb-3">
                            <label for="order_email">이메일</label>
                            <input type="email" class="form-control" id="order_email" placeholder="you@example.com" required>
                        </div>

                        <div class="mb-3">
                            <label for="order_inquiry">문의사항</label>
                            <textarea class="form-control" rows="3" id="order_inquiry" required></textarea>
                        </div>

                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="order_agreement" required>
                            <label class="custom-control-label" for="order_agreement">&nbsp;[필수] 개인정보 수집 및 이용에 동의합니다.</label>
                            <button type="button" style="border: none; background: none; outline:none;" data-bs-toggle="modal" data-bs-target="#particularModal">
                                <small style="color: #0099FF; text-decoration: underline;">상세보기</small>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                <button type="button" class="btn btn-primary btn-orange">문의하기</button>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>