<main layout:decorate="~{common/layouts/restaurantLayout}"
      layout:fragment="Content">

    <style>
        .certification {
            position: relative;
            display: flex;
        }

        .certification button {
            position: absolute;
            top: 1px;
            bottom: 1px;
            right: 5px;
            border-radius: 20px;
        }

        footer {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: 10; /* 다른 요소 위에 위치 */
        }
    </style>

    <input type="hidden" id="owner-id" th:value="${id}">

    <div class="child">
        <div class="">
            <div class="input-form col-md-12 mx-auto">
                <h4 class="text-orange text-center m-5 pt-2" style="font-weight:bold">비밀번호 변경</h4>
                <form class="validation-form" id="ownerPassForm" style="margin: 50px; padding: 0px 400px;" novalidate>
                    <div class="mb-2">
                        <label for="pass1">비밀번호</label>
                        <div class="certification">
                            <input type="password" class="form-control" id="pass1" name="password" placeholder="숫자, 영문, 특수문자 8~16자 입력" oninput="pwCheck()" required>
                            <div class="invalid-feedback">
                                비밀번호를 입력해주세요.
                            </div>
                        </div>
                    </div>

                    <div class="mb-2">
                        <label for="pass2">비밀번호 확인</label>
                        <input type="password" class="form-control" id="pass2" name="name" placeholder="비밀번호 확인" oninput="pwCheck()" required>
                        <div class="invalid-feedback">
                            비밀번호를 재입력해주세요.
                        </div>
                    </div>

                    <span id="pwConfirm" class="col-md-6" style="font-size: 90%;"></span>

                    <div class="m-5 row justify-content-center">
                      <div class="col-auto">
                        <button class="btn btn-orange btn-lg text-light" type="submit" form="ownerPassForm" style="width: 300px;">비밀번호 변경 완료</button>
                      </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<script>
function pwCheck() {
    const pass1 = $('#pass1').val();
    const pass2 = $('#pass2').val();

    // 입력값이 비어 있는 경우 초기 상태로 복원
    if (pass1 === "" || pass2 === "") {
        $('#pwConfirm').text('')
    }
    // 비밀번호가 일치하는 경우
    else if (pass1 === pass2) {
        $('#pwConfirm').text('비밀번호 일치').css('color', 'green');
    }
    // 비밀번호가 일치하지 않는 경우
    else {
        $('#pwConfirm').text('비밀번호 불일치').css('color', 'red');
    }
}
</script>

<script defer src="/js/ownerMypage.js"></script>
