<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{common/fragments/OwnerWelcome/config :: ConfigFragment}"></head>
<body>
<div class="container">
    <header th:replace="~{common/fragments/OwnerWelcome/header :: HeaderFragment}">
    </header>
    <main layout:fragment="Content">
        <!-- Content will be injected here from content.html -->
    </main>
    <footer th:replace="~{common/fragments/OwnerWelcome/footer :: FooterFragment}">
    </footer>
</div>
</body>
</html>
